#main-container {
    padding: 1rem;
    width: 1200px;
    position: relative;
}

/* @media normal screen */
@media screen and (max-width: 768px) {
    #main-container {
        flex-grow: 1;
    }
}