#left-sidebar-container {
    width: 250px;
    margin-left: -220px;
    transition: margin-left 0.3s ease; /* Add transition for smooth animation */
}

#left-sidebar-container.open {
    margin-left: 0; /* Set margin-left to 0 when open */
}

#left-sidebar-toggle-container {
    margin-left: -1px;
}

#sidebar-toggle {
    z-index: 1000;
    display: block !important;
}

@media (max-width: 768px) {
    #sidebar-toggle {
        display: none !important;
    }
}