#left-sidebar-container {
    width: 300px;
    margin-left: -220px;
    transition: margin-left 0.3s ease; /* Add transition for smooth animation */
}

#left-sidebar-container.open {
    margin-left: 0; /* Set margin-left to 0 when open */
}

#left-sidebar-toggle-container {
    margin-left: -1px;
}

#left-sidebar{
    width: 200px;
}

.section-header {
    cursor: pointer;
    padding: 4px 0;
}

.section-header:hover h6 {
    color: #555 !important;
}

.dropdown-section {
    margin-bottom: 15px;
}

.beta-tag {
    color: #ff4500;
    font-size: 0.7rem;
    font-weight: 600;
}

.icon-wrapper {
    display: inline-block;
    width: 24px;
    text-align: center;
    margin-right: 8px;
}

#sidebar-toggle {
    border: 2px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}