@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    --var-icon-hover-color: #111;
    --var-icon-primary-color: #eee;
}

[data-theme="dark"] {
    --var-icon-hover-color: #eee;
    --var-icon-primary-color: #111;
}

[data-theme="light"] {
    --var-icon-hover-color: #111;
    --var-icon-primary-color: #eee;
}

/* Apply to entire app */
html, body {
    font-family: inherit; /* Use the font from :root */
    height: 100%;
}

/* Apply to all elements */
* {
    box-sizing: border-box;
    font-family: inherit; /* Makes sure everything inherits from :root */
}

/* Font size classes */
.fs-7 {
    font-size: 0.75em !important; /* Smaller than fs-6 (0.875rem) */
}

.fs-8 {
    font-size: 0.625em !important; /* Very small */
}

.fs-9 {
    font-size: 0.5em !important;
}

.fs-10 {
    font-size: 0.375em !important;
}



