.underline{
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}
.underline:hover {
    text-decoration: underline;
    cursor: pointer;
}
.fs-custom{
    font-size: 12px
}
.fs-content{
    font-size: 12px;
}
.fs-icon{
    font-size: 10px;
    color: gray;
}