/* Sidebar Toggle Button */
#header-left-sidebar-toggle {
    display: none !important;
}

/* Header */
#header-container {
    --header-btn-hover-color: var(--var-space-cadet);
    --header-btn-primary-color: var(--var-cultured);
}

@media (max-width: 768px) {
    #header-left-sidebar-toggle {
        display: inline-block !important;
    }
}

/* Popover Menu */
.popover-menu {
    z-index: 1000;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;
    border-radius: 0.25em;
    padding: 0.5em;
    min-width: 12.5em;
}

.popover-divider {
    margin: 0.5em 0;
}

/* Light Theme */
[data-theme="light"] #header,
[data-theme="light"] .popover-menu {
    background-color: var(--var-space-cadet);
}

[data-theme="light"] #header,
[data-theme="light"] #header *,
[data-theme="light"] #header .icon {
    color: var(--var-cultured);
    text-decoration: none;
}

[data-theme="light"] #header .btn:hover * {
    color: var(--header-btn-hover-color) !important;
}
