.upvote-icon, .downvote-icon, .comment-icon, .share-icon, .option-icon {
    fill: var(--var-space-cadet) !important;
}

.upvote-btn:hover, .downvote-btn:hover, .comment-btn:hover, .share-btn:hover, .option-btn:hover {
    background-color: var(--var-azureish-white) !important;
}

.vote-container.upvoted {
    --bs-bg-opacity: 1;
    --bs-upvoted-rgb: var(--var-steel-blue-rgb);
    background-color: rgba(var(--bs-upvoted-rgb), var(--bs-bg-opacity)) !important;
    color: white;
}

.vote-container.upvoted .upvote-icon {
    fill: var(--var-cultured) !important;
}

.vote-container.downvoted {
    --bs-bg-opacity: 1;
    --bs-downvoted-rgb: var(--var-deer-rgb);
    background-color: rgba(var(--bs-downvoted-rgb), var(--bs-bg-opacity)) !important;
    color: white;
}

.vote-container.downvoted .downvote-icon {
    fill: var(--var-cultured) !important;
}

.fs-icon {
    font-size: var(--var-fs-7);
}

.fs-content {
    font-size: var(--var-fs-7);
}